@import '../../styles/mixin';
.formContainer {
    width: 320px;
    background-color: #ffffff7d;
    border-radius: 1em;
    z-index: 2;
    backdrop-filter: blur(5px);
    overflow: hidden;

    .formTitle {
        @include title;
    }

    label {
        font-size: 1.8rem;
        font-weight: 600;
    }

    input {
        width: 140px;
        height: 25px;
        padding-left: .5em;
        font-size: 1.6rem;
        border: .5px solid var(--primary-light);
        border-radius: .25em;
        opacity: .8;
    }

    input:focus {
        opacity: 1;
    }

    button {
        padding: .5em;
        width: 100%;
    }
}

@media (min-width: 650px) {
    .formContainer {
        width: 400px;
    }
}