.taskList{
    min-height: 150px;
    height: 100%;
    padding: 2em 1em;
    background-image: url('../../../../public/assets/todo.jpg');
    background-position: fixed;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    .emptyList{
        padding: .5em 1em;
        background-color: #ffffff7f;
        font-size: 1.7rem;
        text-decoration: underline;
        backdrop-filter: 15px;
    }
}
.completed{
    min-height: 100px;
    padding-block: 1em;
    background-image: url('../../../../public/assets/complete.jpg');
    overflow: hidden;

    h2{
        padding-block: .25em;
        background-color: var(--trimary-color);
        color: var(--primary-light);
        font-size: 2.4rem;
    }
}