.taskList{
    width: 300px;
    min-height: 100px;
    max-height: 500px;
    margin-block: 1em;
    padding: 2em 1em;
    background-image: url('../../../../public/assets/todo.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1em;
    text-align: center;
    box-shadow: 0 0 5px var(--shadow);
    overflow-y: auto;
    overflow-x: hidden;
    .emptyList{
        font-size: 1.7rem;
        text-decoration: underline;
    }
}
.completed{
    padding-top: 0;
    padding: 0;
    background-image: url('../../../../public/assets/complete.jpg');

    h2{
        padding-block: .25em;
        background-color: var(--trimary-color);
        color: var(--primary-light);
        font-size: 2.4rem;
    }
}