@import '../../../styles/mixin';
.taskContainer{
    width: 300px;
    min-height: 150px;
    max-height: 500px;
    margin-block: 2em;
    border-radius: 1em;
    box-shadow: 0 0 5px #40414585;
    overflow-y: auto;
    overflow-x: hidden;

    .taskTitle{
        @include title;
        margin-bottom: 0;
        background: var(--trimary-color);
        color: var(--primary-light);
    }
}