.taskLayout {
    width: 300px;
    .title {
        width: 100%;
        background-color: var(--primary-color);
        color: var(--trimary-color);
        border-radius: .5em;
        font-size: 2.5rem;
        font-weight: 600;
    }
    .rightButton{
        margin-left: auto;
    }
}

@media(min-width: 768px) {
    .taskLayout {
        width: 650px;
        display: flex;
        flex-wrap: wrap;
        align-items: self-start;
        justify-content: space-between;
        gap: 30px;
        margin-inline: 20px;
    }
}