.taskLayout{
    display: inline-grid;
    grid-template-columns: 100vw;
    place-items: center;
    .title{
        width: clamp(300px, 300px + 2vw, 400px);
        background-color: var(--primary-color);
        color: var(--trimary-color);
        border-radius: .5em;
        font-size: 2.5rem;
        font-weight: 600;
    }
}